<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link th:insert="fragments/components :: link">
</head>
<body>
<div th:fragment="headerfiles">
    <div th:insert="fragments/components :: header_admin"></div>
</div>


<a  th:href="@{/admin/requests}">Заявки</a>
<a  th:href="@{/admin/users}">Список всех пользователей</a>
<a  th:href="@{/admin/cars}">Список всех автомобилей</a>


<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>