<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link th:insert="fragments/components :: link">
</head>
<body>
<div th:fragment="headerfiles">
    <div th:insert="fragments/components :: header_admin"></div>
</div>

<div class="wrapper__admin">

</div>

<footer th:fragment="footerfiles">
    <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>