<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Admin Cars</title>
  <link th:insert="fragments/components :: link">
</head>
<body>
<div th:fragment="headerfiles">
  <div th:insert="fragments/components :: header_admin"></div>
</div>

<div>
  <div class="container">
  <h2 class="h2_cars_black profile__center">Список автомобилей</h2>

  <div th:if="${ not#lists.isEmpty(listCars)}">
    <table>
      <tr>
        <th>Id</th>
        <th>Бренд</th>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Обновить информацию</th>
        <th><a th:href="@{/admin/cars/new}">Добавить авто</a></th>
      </tr>
      <tr th:each="car : ${listCars}">
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td >
          <a th:href="@{/admin/cars/{id}(id=${car.getId()})}">Обновить</a>
        </td>
      </tr>
    </table>
  </div>

</div>
</div>

<footer th:fragment="footerfiles">
  <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>