<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/components :: link">
    <title>Машины</title>
</head>
<body>
<header th:fragment="headerfiles">
    <div th:insert="fragments/components :: header"></div>
</header>

<div class="container">

    <h2 class="h2_cars_black">Прокат спортивных автомобилей</h2>
    <h1 class="h1_common_orange">Ознакомьтесь с нашим парком!</h1>

    <div class="cars">

        <div class="cars__item" th:each="car : ${listCars}">
            <h1 class="h1_cars_black_item" th:text="${car.getBrand() + ' ' + car.getModel()}" >Brand + Model</h1>

            <div class="cars__content">
                <div class="cars__block">
                    <img src="/static/images/car1.svg">
                </div>

                <div class="cars__block__right">
                    <div class="cars__block__right__item"> <img class="cars__icon" src="/static/images/body_type.svg"> <h2 class="h2_cars_item_right" th:text="${car.getBody_type()}">Купе</h2> </div>
                    <div class="cars__block__right__item"> <img class="cars__icon" src="/static/images/engine.svg"> <h2 class="h2_cars_item_right" th:text="${car.getEngine_type()}">3.0l Twin Turbo</h2> </div>
                    <div class="cars__block__right__item"> <img class="cars__icon" src="/static/images/color.svg"> <h2 class="h2_cars_item_right" th:text="${car.getColor()}" >Красный</h2> </div>
                    <div class="cars__block__right__item"> <img class="cars__icon" src="/static/images/horse_power.svg"> <h2 class="h2_cars_item_right" th:text="${car.getHorse_power() + ' лошадей'}">450 лошадей</h2> </div>
                </div>
            </div>

            <div class="cars_bottom">
                <h1 class="h1_cars_price" th:text ="'Стоимость аренды: ' + ${car.getPrice_per_day()+ ' руб.' }">Стоимость аренды: 35000 руб.</h1>
                <a class="h1_cars_black_url" th:href="@{/cars/{id}(id=${car.getId()})}">Подробнее</a>
            </div>
        </div>
    </div>

</div>

<footer th:fragment="footerfiles">
    <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>