<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/components :: link">
    <title>Контакты</title>
<body>
<header th:fragment="headerfiles">
    <div th:insert="fragments/components :: header"></div>
</header>

<div class="container">

    <div class="contact__container">

        <h2 class="h2_cars_black">Контакты</h2>
        <h1 class="h1_common_orange">CrimeaCars прокат спортивных и роскошных автомобилей</h1>

        <div class="contact__container__body">
            <div class="contact__container__left">
                <div class="contact__item">
                    <h1 class="contact__h1-item">Адрес:</h1>
                    <p class="contact__p-item">улица Горького, 15, Симферополь, Республика Крым, Россия ИНН: 7777777777</p>
                </div>
                <div class="contact__item">
                    <h1 class="contact__h1-item">Время работы:</h1>
                    <p class="contact__p-item">Понедельник-Воскресенье с 08:00 до 22: 00</p>
                </div>
                <div class="contact__item">
                    <h1 class="contact__h1-item">Телефон:</h1>
                    <p class="contact__p-item">+7 978 777 77 77</p>
                </div>
                <div class="contact__item">
                    <h1 class="contact__h1-item">Почта:</h1>
                    <p class="contact__p-item">support@crimeacars.ru</p>
                </div>
            </div>
            <div class="contact__container__right">
                <img src="/static/images/map_cont.png">
            </div>

        </div>
        <div class="contact__container-bottom">
            <div class="contact__bottom-vote">
                <img src="/static/images/vote_contact.png">
                <p>Одна из лучших компаний по прокату автомобилей в Крыму!
                    Беспроблемная аренда, четкие условия, очень приятная компания.</p>
            </div>

            <div class="contact__bottom-logo">
                <img src="/static/images/ya_map_logo.png">
            </div>
        </div>
    </div>

</div>

<footer th:fragment="footerfiles">
    <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>