<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:insert="fragments/components :: link">

  <title>Index</title>
<body>


<header th:fragment="headerfiles">
  <div th:insert="fragments/components :: header"></div>
</header>

<div class="container my-2">

  <h1>Car list</h1>
<table border = "1" class="table table-striped table-responsive-md">
  <thead>
  <tr>
    <th>Бренд авто</th>
    <th>Модель авто</th>
    <th>Цвет авто</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="car : ${listCars}">
    <td th:text="${car.getColor()}"></td>
    <td th:text="${car.getBrand()}"></td>
  </tr>
  </tbody>
</table>

<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
  <form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
  </form>
</div>
</div>

<footer th:fragment="footerfiles">
  <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>