<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/components :: link">
    <title>Admin Cars</title>
<body>
<h2>Машины</h2>
<header th:fragment="headerfiles">
    <div th:insert="fragments/components :: header"></div>
</header>

<div>
    <h1>Car list</h1>
    <table>
        <thead>
        <tr>

            <th>ID</th>
            <th>Бренд авто</th>
            <th>Модель авто</th>
            <th>Цвет авто</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getColor()}"></td>
            <td>
                <a th:href="@{/admin/cars/{id}(id=${car.getId()})}">Обновить</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/cars/{id}(id=${car.getId()})}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <input type="submit" value="Delete"/>
            </form>
            </td>

        </tr>
        </tbody>
    </table>

    <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>

<footer th:fragment="footerfiles">
    <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <link th:insert="fragments/components :: link">
</head>
<body>
<div th:fragment="headerfiles">
    <div th:insert="fragments/components :: header_admin"></div>
</div>

<!--<div class="container my-5">
    <h3> Add Employee</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/admin/cars/{id}}" th:object="${car}"
                      method="post">
                    &lt;!&ndash;<sec:csrfInput />&ndash;&gt;
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="brand" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{brand}" class="form-control"
                                   id="brand" placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="model" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{model}" class="form-control"
                                   id="model" placeholder="Last Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{color}" class="form-control"
                                   id="email" placeholder="Email Id" />
                        </div>

                        <div class="col-md-6">
                            &lt;!&ndash;<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />&ndash;&gt;
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->

<div class="container container__user-edit">

    <h2 class="h2_cars_black profile__center">Создание автомобиля</h2>


    <form action="#" class="common__form" th:action="@{/admin/cars/{id}}" th:object="${car}" method="post">

        <input type="hidden" id="id" th:field="*{id}">

        <label for="brand">Бренд</label>
        <input class="common__form-item" type="text" th:field="*{brand}" name="brand" id="brand"/>

        <label for="model">Модель</label>
        <input class="common__form-item" type="text" th:field="*{model}" name="model" id="model" placeholder="Иванов Иван Иванович"/>

        <label for="color">Цвет</label>
        <input class="common__form-item" type="text" th:field="*{color}" name="color" id="color" placeholder="+7978...."/>

        <label for="body_type">Тип кузова</label>
        <input class="common__form-item" type="text" th:field="*{body_type}" name="body_type" id="body_type" placeholder="Введите ваш email"/>

        <label for="engine_type">Тип двигателя</label>
        <input class="common__form-item" type="text" th:field="*{engine_type}" name="engine_type" id="engine_type" placeholder="Username"/>

        <label for="horse_power">Кол-во лошадей</label>
        <input class="common__form-item" type="text" th:field="*{horse_power}" name="horse_power" id="horse_power" placeholder="Username"/>

        <label for="price_per_day">Цена за сутки</label>
        <input class="common__form-item" type="text" th:field="*{price_per_day}" name="price_per_day" id="price_per_day" placeholder="Username"/>

        <label for="view_or_not">Отображать авто в выдаче</label>
        <input class="common__form-item" type="text" th:field="*{view_or_not}" name="view_or_not" id="view_or_not" placeholder="Username"/>

        <label for="description">Описание авто</label>
        <input class="common__form-item" type="text" th:field="*{description}" name="description" id="description" placeholder="Username"/>

        <label for="car_img">Картинка</label>
        <input class="common__form-item" type="text" th:field="*{car_img}" name="car_img" id="car_img" placeholder="Картинка"/>


        <input type="submit" value="Обновить"/>
    </form>
</div>

</body>

</html>
