<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:insert="fragments/components :: link">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Контакты</title>
<body>
<header th:fragment="headerfiles">
    <div th:insert="fragments/components :: header"></div>
</header>


<div th:object="${personBooking}">
    <span th:text="*{'Здравствуйте ' + getPerson().getFull_name()}">...</span>
    <br>
    <span th:text="*{'Ваш email ' + getPerson().getEmail()}">...</span>
    <br>
    <span th:text="*{'Ваш номер телефона ' + getPerson().getPhone()}">...</span>
    <br>

</div>

<!--<div th:each="book : ${bookings}">
    <span th:text="*{book.getPerson().getFull_name()}">...</span>
    <span th:text="*{book.getCar().getModel()}">...</span>
    <span th:text="*{book.getDate_start()}">...</span>
    <span th:text="*{book.getDate_end()}">...</span>
    <span th:text="*{book.getTotal_price()}">...</span>
    <span th:text="*{book.isStatus()}">...</span>

</div>-->

<h2 class="h1_footer_orange">Здесь вы можете посмотреть ваши бронирования</h2>

<div th:object="${personBooking}">
    <span th:text="*{getCar().getBrand()}">...</span>
    <span th:text="*{getCar().getModel()}">...</span>
    <span th:text="*{getDate_start()}">...</span>
    <span th:text="*{getDate_end()}">...</span>
    <span th:text="*{getTotal_price()}">...</span>
    <span th:text="*{isStatus()}">...</span>

</div>

<footer th:fragment="footerfiles">
    <div th:insert="fragments/components :: footer"></div>
</footer>

</body>
</html>