<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link th:insert="fragments/components :: link">
</head>
<body>
<div th:fragment="headerfiles">
    <div th:insert="fragments/components :: header_admin"></div>
</div>

<div class="container">

<h2 class="h2_cars_black profile__center">Заявки</h2>
<h1 class="h1_cars_black_item" style="justify-content: flex-start">Заявки в ожидании</h1>
<div th:if="${ not#lists.isEmpty(bookings)}">
    <table>
        <tr>
            <th>Имя пользователя</th>
            <th>Телефон пользователя</th>
            <th>Id авто</th>
            <th>Бренд и модель авто</th>
            <th>Дата начала аренды</th>
            <th>Дата конца аренды</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr th:each="book : ${bookings}">
            <td th:text="${book.getPerson().full_name}"></td>
            <td th:text="${book.getPerson().phone}"></td>
            <td th:text="${book.getCar().getId()}"></td>
            <td th:text="${book.getCar().brand + ' ' + book.getCar().model}"></td>
            <td th:text="${book.date_start}"></td>
            <td th:text="${book.date_end}"></td>
            <td th:text="${book.total_price}"></td>
            <td th:text="${book.status}"></td>
            <td >
               обновить статус <!--<a th:href="@{/admin/cars/{id}(id=${car.getId()})}">Обновить</a>-->
            </td>
        </tr>
    </table>


    <h1 class="h1_cars_black_item" style="justify-content: flex-start">Подтвержденные заявки</h1>
    <div th:if="${ not#lists.isEmpty(trueBookings)}">
        <table>
            <tr>
                <th>Имя пользователя</th>
                <th>Телефон пользователя</th>
                <th>Id авто</th>
                <th>Бренд и модель авто</th>
                <th>Дата начала аренды</th>
                <th>Дата конца аренды</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr th:each="book : ${trueBookings}">
                <td th:text="${book.getPerson().full_name}"></td>
                <td th:text="${book.getPerson().phone}"></td>
                <td th:text="${book.getCar().getId()}"></td>
                <td th:text="${book.getCar().brand + ' ' + book.getCar().model}"></td>
                <td th:text="${book.date_start}"></td>
                <td th:text="${book.date_end}"></td>
                <td th:text="${book.total_price}"></td>
                <td th:text="${book.status}"></td>
                <td >
                    обновить статус <!--<a th:href="@{/admin/cars/{id}(id=${car.getId()})}">Обновить</a>-->
                </td>
            </tr>
        </table>
</div>
</div>
    </div>
</body>
</html>